.calendar-container {
    margin-bottom: 10px;
    width: 350px;
    border: 3px solid #454c53;
    border-radius: 15px;
  }
  
.react-calendar__tile--active {
    background: #007bff;
    color: white;
  }

.react-calendar__month-view__days__day {
    border-radius: 8px;
    border: 1px solid transparent;
    width: 50px;
    outline: 1px solid #333333;
  }

.react-calendar__navigation {
    border-bottom: 1px solid #dee2e6;
    padding: 0 80px;
    outline: 1px solid #333333;
    display: flex;
    justify-content: center;
  }
  
.react-calendar__navigation button {
    border: 1px solid transparent;
    border-radius: 5px;
  }