.form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-group label {
  color: white;
}

.form-group input {
  background-color: #3b3b3b;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

body {
  background-color: #18191a;
}
