h2 {
  color: #0f0b04;
}

/* Hero */

#hero {
  position: relative;
  display: grid;
  place-content: center;
  width: 85vw;
  height: 100vh;
}

#hero > .container {
  display: grid;
  gap: 0px;
  padding: 0 0px;
}

#hero h1 {
  color: #fff;
  text-align: center;
  line-height: 52px;
  letter-spacing: 4px;
  font-family: 'Calisga';
  font-size: 32px;
}

#hero h1 > .label {
  color: #fff;
  font-family: 'Calisga';
  font-size: 16px;
}

#hero h1 > span:last-child {
  color: #EC9009;
  font-family: 'Calisga';
}

#hero p {
  color: #F7F7F7;
  text-align: center;
  font-size: 16px;
}

#hero .background-images > #bg-1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 95vw;
  height: 100vh;
  background-image: url('../assets/images/hero_img_1.png');
  background-position: 50% 25%;
  background-size: cover;
}

#hero .background-images > #bg-1 > .overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.24) 2.08%, rgba(0, 0, 0, 0) 100%);;
}

/* About */
  
#about > .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 16px;
}

#about img {
  width: 200px;
}

#about > .container > div {
  text-align: center;
}

#about > .container > div > h2 {
  margin: 64px 0 24px;
}

#about > .container > div > p {
  line-height: 24px;
  font-size: 16px;
}

/* What Can You Do */
  
#what_can_you_do {
  background-color: #EFECE3;
  text-align: center;
}

#what_can_you_do > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 16px;
}

#what_can_you_do h2 {
  margin-bottom: 80px;
}

#what_can_you_do > .container > div {
  display: grid;
  gap: 80px;
}

#what_can_you_do > .container > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#what_can_you_do > .container > div > div > img {
  width: 400px;
  margin-bottom: 40px;
}

#what_can_you_do > .container > div > div > div {
  text-align: center;
}

#what_can_you_do > .container > div > div h3 {
  margin-bottom: 24px;
  font-family: 'Inter';
  font-size: 20px;
}

#what_can_you_do > .container > div > div p {
  line-height: 24px;
  font-size: 16px;
} 

/* FAQs */

#faqs > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 16px;
  text-align: start;
}

#faqs > .container > h2 {
  margin-bottom: 40px;
}

#faqs > .container > div > div {
  padding: 16px 0;
  border-bottom: 1px solid #B1B3B6;
}

#faqs > .container > div > div > .header {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

#faqs > .container > div > div > .header > h4 {
  flex: .9;
  font-family: 'Inter';
  font-size: 16px;
}

#faqs > .container > div > div > .header > img {
  transition: transform ease 250ms;
}

#faqs > .container > div > div > p {
  display: none;
  margin-top: 32px;
  color: #636466;
  text-align: start;
  line-height: 24px;
  font-size: 14px;
}

@media only screen and (min-width: 1280px) {
  h2 {
    font-size: 30px;
  }

  /* Hero */
  
  #hero h1 {
    line-height: 64px;
    font-size: 40px;
  }
  
  #hero h1 > .label {
    font-size: 28px;
  }

  #hero p {
    width: 968px;
    font-size: 20px;
  }

  /* About */
  
  #about > .container {
    flex-direction: row;
    padding: 152px 0;
  }
  
  #about img {
    width: 364px;
    margin-right: 24px;
  }
  
  #about > .container > div {
    width: 600px;
    margin-left: 20px;
    text-align: start;
  }
  
  #about > .container > div > h2 {
    margin-top: 0;
    margin-bottom: 24px;
  }
  
  #about > .container > div > p {
    line-height: 24px;
    font-size: 20px;
  }

  /* What Can You Do */
  
  #what_can_you_do > .container {
    padding: 152px 0;
  }
  
  #what_can_you_do h2 {
    margin-bottom: 96px;
  }

  #what_can_you_do > .container > div > div {
    flex-direction: row;
  }

  #what_can_you_do > .container > div > div > img {
    margin-right: 20px;
    margin-bottom: 0;
  }

  #what_can_you_do > .container > div > div > div {
    margin-left: 20px;
    margin-bottom: 0;
    text-align: start;
  }

  #what_can_you_do > .container > div > div h3 {
    font-size: 20px;
  }

  #what_can_you_do > .container > div > div p {
    width: 640px;
    line-height: 28px;
    font-size: 18px;
  }

  /* FAQs */

  #faqs > .container {
    padding: 152px 0;
  }

  #faqs > .container > h2 {
    margin-bottom: 96px;
  }

  #faqs > .container > div > div {
    width: 940px;
    padding: 32px 0;
  }

  #faqs > .container > div > div > .header > h4 {
    font-size: 18px;
  }

  #faqs > .container > div > div > p {
    line-height: 20px;
    font-size: 16px;
  }
}

@media only screen and (min-width: 1440px) {
  h2 {
    font-size: 32px;
  }
  
  /* Hero */
  
  #hero h1 {
    line-height: 80px;
    font-size: 56px;
  }
  
  #hero h1 > .label {
    font-size: 32px;
  }

  #hero p {
    width: 1280px;
    font-size: 24px;
  }

  /* About */
  
  #about > .container {
    flex-direction: row;
    padding: 200px 0;
  }
  
  #about img {
    width: 400px;
    margin-right: 33px;
  }
  
  #about > .container > div {
    margin-left: 32px;
  }
  
  #about > .container > div > p {
    line-height: 30px;
    font-size: 20px;
  }
  
  /* What Can You Do */
  
  #what_can_you_do > .container {
    padding: 200px 0;
  }
  
  #what_can_you_do h2 {
    margin-bottom: 152px;
  }

  #what_can_you_do > .container > div > div > img {
    margin-right: 40px;
  }

  #what_can_you_do > .container > div > div > div {
    margin-left: 40px;
  }

  #what_can_you_do > .container > div > div h3 {
    font-size: 24px;
  }

  #what_can_you_do > .container > div > div p {
    line-height: 30px;
    font-size: 20px;
  }

  /* FAQs */

  #faqs > .container {
    padding: 200px 0;
  }

  #faqs > .container > h2 {
    margin-bottom: 96px;
  }

  #faqs > .container > div > div > .header > h4 {
    font-size: 20px;
  }

  #faqs > .container > div > div > p {
    line-height: 24px;
    font-size: 18px;
  }
}